* {
  font-family: 'Nunito', 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  background-image: url('images/background.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat center center fixed;
}

#name {
  color: #000;
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 2px; 
}

#role {
  color: #000;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 2.3;
}

.bio {
  margin-top: 150px;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #000;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger::before {
  top: -10px;
  width: 20px;
}

.hamburger::after {
  top: 10px;
  width: 25px;
}

.toggle_menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger, .toggle_menu {

}

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

@media screen and (max-width: 992px) {
  .hamburger, .toggle_menu {
    display: block;
  }
  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: #FED0A2;
    width: 300px;
    height: 100%;
    padding-top: 65px;
  }
}

nav img {
  padding: 20px 15px;
  margin-left: 30px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  padding: 20px 15px;
}

a:link, a:visited {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 2px;
}

footer {
  height: auto;
  width: auto;
}

footer p {
  float: left;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 13px;
  color: #000;
  margin-top: -35px;
  margin-left: 40px;
}

/* .socials_links li {
  display: inline-block;
  padding: 0px 15px;
  list-style: none;
  margin-top: -100px;
  align-content: flex-end;
} */

#greeting {
  margin: 10px 0 20px 90px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}

picture {
  margin: 0 0 0 90px;
}

.bio {
  margin: 0 70px 0 0px;
  float: right;
  line-height: 2.5em;
  letter-spacing: 1px;
}

.contact_me p {
  margin: 80px 0 20px 90px; 
  float: left;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
}

.contact_socials li {
  margin: 90px 20px 0 30px;
  list-style: none;
  float: right;
  letter-spacing: 2px;
  padding: 0 30px;
}

.socials_links a:hover {
  color: #fff;

}

.contact_socials a:hover {
  color: rgb(123, 123, 123);
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  margin-left: 15px;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.dividers {
  width: 280px;
  margin-left: 50px;
  margin-top: 20px;
}

.experience {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 50px;
  margin-top: 45px;
  line-height: 1ch;
}

.experience_details {
  margin-left: 50px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.ibm picture {
  float: right;
  margin-top: -210px;
  margin-right: 180px;
  transition: transform .8s;
  /* box-shadow: 0px 15px 10px -15px #111;   */
}

.ibm picture:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.float_mobility picture {
  float: right;
  margin-top: -190px;
  margin-right: 205px;
  transition: transform .8s;
  /* box-shadow: 0px 15px 10px -15px #111; */
}

.float_mobility picture:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.budget_app {
  margin-top: -30px;
}

.budget_app .proj_details {
  margin: -130px 40px 0 0px;
  float: right;
  line-height: 2.5em;
  letter-spacing: 1px;
}

.music_tracker .proj_details {
  margin: -130px 70px 0 0px;
  float: right;
  line-height: 2.5em;
  letter-spacing: 1px;
}

.food_ordering_app {
  margin-bottom: 10px;
}

.food_ordering_app .proj_details {
  margin: -130px 50px 0 0px;
  float: right;
  line-height: 2.5em;
  letter-spacing: 1px;
}

.skills {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.skill-row ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.skill-row li {
  float: left;
  padding: 0 15px;
  /* padding: 0px 25px 0 100px; */
  margin-left: -13px;
}